.fancy-title {
  text-align: center;
  font-family: serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.fancy-title span {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Slightly larger but still subtle */
.fancy-title .small-top {
  font-size: 1.4rem;
  margin-bottom: 0.15rem;
}

.fancy-title .tiny-middle {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0.15rem 0 0.25rem;
}

/* Equal size main title words */
.fancy-title .big-main,
.fancy-title .bottom-word {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
